---
import BlogCard from '@/components/BlogCard.astro'
import Button from '@/components/Button.astro'
import Container from '@/components/Container.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 10)

const projects = (await getCollection('projects'))
  .filter((project) => project.data.active)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 10)
---

<Layout title="Home">
  <Container class="flex flex-col gap-y-8 py-8">
    <section class="flex flex-col gap-y-4">
      <h2 class="text-2xl font-bold">Active Projects</h2>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          projects.map((project) => (
            <li>
              <ProjectCard project={project} />
            </li>
          ))
        }
      </ul>
    </section>

    <section class="flex flex-col gap-y-4">
      <h2 class="text-2xl font-bold">Latest Posts</h2>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Button variant="ghost" class="group" href="/blog/">
          See all posts <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Button>
      </div>
    </section>
  </Container>
</Layout>
