---
import { cn } from '@/lib/utils'
import { Image } from 'astro:assets'
import logo from '../../public/static/logo.png'

type Props = {
  src?: ImageMetadata
  width: number
  height: number
  alt?: string
  class?: string
}

const { src = logo, alt = 'Avatar', class: className, ...props } = Astro.props
---

<div
  class={cn(
    'relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full',
    className,
  )}
>
  <Image {...props} class="aspect-square h-full w-full" src={src} alt={alt} />
</div>
