---
import { cn } from '@/lib/utils'

type Props = {
  class?: string
  src: string
  alt?: string
}

const { src, alt = 'Avatar', class: className } = Astro.props
---

<div
  class={cn(
    'relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full',
    className,
  )}
>
  <img class="aspect-square h-full w-full" src={src} alt={alt} />
</div>
