---
import Breadcrumb from '@/components/Breadcrumb.astro'
import { cn } from '@/lib/utils'
import { Icon } from 'astro-icon/components'

export interface BreadcrumbItem {
  href?: string
  label: string
  icon?: string
}

interface Props {
  items: BreadcrumbItem[]
  class?: string
}

const { items, class: className } = Astro.props
---

<nav aria-label="breadcrumb" class={cn('hidden md:block', className)}>
  <ol
    class="flex flex-wrap items-center gap-1.5 break-words text-sm text-muted-foreground sm:gap-2.5"
  >
    <Breadcrumb href="/" icon="lucide:home" />
    {
      items.map((item, index) => (
        <>
          <li role="presentation" aria-hidden="true">
            <Icon name="lucide:chevron-right" class="size-3.5" />
          </li>

          <Breadcrumb
            icon={item.icon}
            label={item.label}
            href={item.href}
            active={index === items.length - 1}
          />
        </>
      ))
    }
  </ol>
</nav>
