---
import Badge from '@/components/Badge.astro'
import type { CollectionEntry } from 'astro:content'

type Props = {
  project: CollectionEntry<'projects'>
}

const { project } = Astro.props
---

<div class="not-prose rounded-xl border p-4 hover:bg-secondary/10">
  <a href={project.data.link} class="flex flex-col gap-4 sm:flex-row">
    <div class="flex-grow">
      <h3 class="mb-1 text-lg font-semibold">
        {project.data.name}
      </h3>
      <p class="mb-2 text-sm text-muted-foreground">
        {project.data.description}
      </p>
      {
        project.data.tags && (
          <div class="flex flex-wrap gap-2">
            {project.data.tags.map((tag: string) => (
              <Badge variant="secondary">{tag}</Badge>
            ))}
          </div>
        )
      }
    </div>
  </a>
</div>
