---
import { cn } from '@/lib/utils'

type Props = {
  orientation: 'horizontal' | 'vertical'
  class?: string
}

const { orientation = 'horizontal', class: className } = Astro.props
---

<div
  class={cn(
    'shrink-0 bg-border',
    {
      'h-[1px] w-full': orientation === 'horizontal',
      'h-full w-[1px]': orientation === 'vertical',
    },
    className,
  )}
>
</div>
