---
import Analytics from '@/components/Analytics.astro'
import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { site } from '@/site'

type Props = {
  title: string
  description?: string
  image?: string
}

const { title, description, image } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={`${title} | ${site.title}`}
      description={description || site.description}
      image={image}
    />
    <Analytics />
    <slot name="head" />
  </head>
  <body>
    <div
      class="box-border flex h-fit min-h-screen flex-col gap-y-6 font-sans antialiased"
    >
      <Header />
      <main class="flex flex-1 flex-col">
        <slot />
      </main>
      <Footer />
    </div>

    <link
      id="katex-css"
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
      media="print"
    />
  </body>
</html>

<script>
  const katex = document.getElementById('katex-css')!
  katex.setAttribute('media', 'all')
</script>
